@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
  --dark: #131212;
  --white: #f5f5f5;
  --green: #d1ff00;
}

@font-face {
  font-family: "MonumentExtend";
  src: url("./fonts/MonumentExtended-Regular.otf");
  font-weight: normal;
}

@font-face {
  font-family: "MonumentExtend";
  src: url("./fonts/MonumentExtended-Ultrabold.otf");
  font-weight: bold;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border: var(--white) 0.5px solid;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "MonumentExtend", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--dark);
  color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  color: var(--white);
}

a {
  text-decoration: none;
  color: var(--green);
  text-transform: uppercase;
  transition: border 400ms;
}

a:hover {
  color: var(--white);
  border-color: var(--white);
}

.link {
  border: transparent 3px solid;
  border-right: none;
  border-left: none;
  padding: 10px 0px;
}

button {
  background-color: transparent;
  outline: none;
  padding: 10px 15px;
  border: transparent solid 1px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 16px;
  margin: 8px 0;
  transition: 400ms color, 400ms background, 400ms border;
}

.btn-primary {
  background-color: var(--green);
  border-color: var(--green);
}

.btn-primary:hover {
  background-color: transparent;
  color: var(--green);
}

.btn-secondary {
  background-color: var(--dark);
  color: var(--green);
  border-color: var(--green);
}

.btn-secondary:hover {
  border-color: var(--white);
}

p {
  font-family: "Inter", sans-serif;
  color: var(--white);
  font-size: 14px;
  font-size: 20px;
}

header {
  width: 100%;
  border-bottom: var(--white) solid 0.5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 35px;
  position: fixed;
  background-color: transparent;
  backdrop-filter: blur(20px);
  z-index: 2;
}

header > h1 {
  font-size: 30px;
}

.menu > ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

main {
  scroll-snap-type: proximity;
}

section {
  scroll-snap-align: start;
}

#home {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  gap: 50px;
  padding: 0 50px;
  width: 100%;
  height: 100vh;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)),
    url("img/cover-main-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#home > div:first-child > h2 {
  font-size: 70px;
  margin-bottom: 20px;
}

.back-card {
  background-color: var(--green);
  color: var(--dark);
  padding: 0px 5px;
  font-weight: normal;
}

#home > div:first-child > p {
  width: 90%;
}

#home > div:last-child {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

#home > div:last-child > .social-media {
  font-size: 14px;
  margin-bottom: 50px;
  text-align: end;
  z-index: 1;
}

#home > div:last-child > .social-media > a {
  border-bottom: transparent 3px solid;
  margin-left: 15px;
  padding: 10px 0;
  font-size: 16px;
}

#home > div:last-child > .social-media > a:hover {
  border-color: var(--white);
}

#projects {
  display: grid;
  grid-template-columns: 40% auto;
  grid-template-rows: 20vh 100px 70vh;
  margin-top: -20vh;
  text-align: center;
  column-gap: 15px;
  padding: 50px;
  z-index: 0;
  width: 100%;
}

#projects > h2 {
  font-size: 52px;
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}

.project {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)),
    url("img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: flex-end;
  padding: 25px;
  grid-row: 3 / 4;
  transition: 400ms ease-in-out;
  border: var(--green) 0px solid;
}

.project:nth-child(2) {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)),
    url("img/petgram\ mockup.jpeg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.project:hover {
  cursor: pointer;
  transition: 400ms ease-in-out;
  border: var(--green) 25px solid;
}

.project > h2 {
  font-size: 35px;
  width: auto;
}

.project > p {
  text-transform: none;
  font-size: 16px;
  margin-top: 10px;
  transition: 400ms ease;
  background: -webkit-linear-gradient(
    rgba(255, 255, 255, 8),
    rgba(255, 255, 255, 0.2)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#projects > a:nth-child(2) {
  grid-row: 1 / 4;
}

#more-projects {
  margin: 10px auto 0;
  text-align: center;
}

#more-projects .back-card {
  font-size: 24px;
  padding: 10px 30px;
  border: var(--green) solid 1px;
  transition: 400ms ease;
}

#more-projects .back-card:hover {
  background: transparent;
  color: var(--green);
}

#skills {
  margin: 150px auto;
  text-align: center;
}

#skills > h2 {
  font-size: 60px;
}

#skills > p {
  width: 60%;
  margin: auto;
}

.tech-stack {
  height: 90px;
  overflow: hidden;
  position: relative;
  background-color: var(--green);
  color: var(--dark);
}

.tech-stack > div > h3 {
  color: var(--dark);
  font-size: 24px;
  font-weight: normal;
  white-space: nowrap;
}

.tech-stack > div {
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  line-height: 50px;
  text-align: center;
  /* Starting position */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  animation: scroll-left 30s linear infinite;
}

#contact {
  width: 70%;
  margin: auto;
  padding: 25px 0;
  text-align: center;
}

#contact > h2 {
  font-size: 48px;
}

#contact > a:first-of-type {
  padding: 50px;
  color: var(--white);
  display: block;
  font-size: 40px;
}

#contact > a:first-of-type:hover {
  color: var(--green);
}

#contact > a {
  font-size: 30px;
}

@keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%); /* Browser bug fix */
    -webkit-transform: translateX(100%); /* Browser bug fix */
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%); /* Browser bug fix */
    -webkit-transform: translateX(-100%); /* Browser bug fix */
    transform: translateX(-100%);
  }
}

#certifications {
  padding: 75px;
}

#certifications > h2 {
  font-size: 52px;
}

#certifications > p {
  width: 75%;
}

.courses-repository {
  display: flex;
  align-items: flex-start;
  margin-top: 30px;
}

.courses-repository > ul {
  list-style: none;
}

.courses-repository > ul > a > li {
  font-size: 18px;
  transition: 400ms ease;
  border: var(--green) 1px solid;
  padding: 15px;
}

.courses-repository > ul > a > li:hover {
  background-color: var(--green);
  color: var(--dark);
}

/* Tablet */
@media (max-width: 768px) {
  body {
    max-width: 100%;
  }

  header > .menu {
    display: none;
  }

  #home {
    grid-template-columns: 1fr;
    grid-template-rows: 80% auto;
    text-align: center;
    gap: 0px;
  }

  #home > div:first-child > p {
    margin: auto;
    width: 80%;
  }

  #home > div:last-child {
    align-items: center;
  }

  #projects {
    margin: 20px 0 40px;
    grid-template-columns: 100vw;
    grid-template-rows: 10% 40% 25% 25%;
    height: 1500px;
    row-gap: 15px;
    padding: 50px 10px;
  }

  #projects > h2 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  #projects > .project:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  #projects > .project:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }

  .project {
    width: 95%;
    margin: -40px 0 45px 8px;
  }

  #skills {
    margin-bottom: 50px;
  }

  #skills > p {
    width: 90%;
  }

  #certifications {
    padding: 30px 25px;
  }

  #certifications > p {
    width: 100%;
  }

  .courses-repository {
    display: flex;
    flex-direction: column;
  }

  .courses-repository > ul {
    width: 100%;
  }

  #contact {
    margin: 100px auto;
    padding: 0 25px;
    width: 100%;
  }

  #contact > h2 {
    font-size: 34px;
  }

  #contact > a:first-of-type {
    font-size: 30px;
    padding: 25px 0 0;
  }

  #contact > a {
    font-size: 24px;
  }
}
